---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Introduccion from '../components/Introduccion.astro';
import Sorteo from '../components/Sorteo.astro'
import Pasos from '../components/Pasos.astro';
import Lista from '../components/Lista.astro'
import Footer from '../components/Footer.astro';

---

<Layout title="Sorteo">
<NavBar/>
<section id="introduccion" class="lg:mb-0 mb-20">
    <Introduccion/>
</section>
<section id="sorteo" class="lg:mb-0 mb-20">
    <Sorteo/>
</section>
<section id="pasos" class="lg:mb-0 mb-20">
    <Pasos/>
</section>
<section id="lista" class="lg:mb-0 mb-20">
    <Lista/>
 </section>
<section id="sorteosPrevios"></section>

<Footer/>

</Layout>


