---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Introduccion from '../components/Introduccion.astro';
---

<Layout title="Sorteo">
<NavBar/>
<section class="p-0">
    <Introduccion/>
</section>
<section></section>
<section></section>
<section></section>
<section></section>
</Layout>

<style>

</style>
