---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Introduccion from '../components/Introduccion.astro';
import Sorteo from '../components/Sorteo.astro'
import Pasos from '../components/Pasos.astro';
import Lista from '../components/Lista.astro'

---

<Layout title="Sorteo">
<NavBar/>
<section>
    <Introduccion/>
</section>
<section id="sorteo">
    <Sorteo/>
</section>
<section id="pasos">
    <Pasos/>
</section>
<section id="lista">
    <Lista/>
 </section>
<section id="sorteosPrevios"></section>
</Layout>

<style>

</style>
