<div class="lg:h-screen flex flex-col lg:flex-row relative sm:h-[700px] items-center justify-center">
    <div class="flex flex-col w-fit lg:w-[500px] lg:text-left text-center text-white">
        <h1 class="lg:text-6xl text-3xl m-2 font-semibold">Arte y Azar</h1>
        <p class="lg:text-2xl m-2">¡Bienvenido a una emocionante oportunidad creada por el maestro Diego Villegas! Te invitamos a sumergirte en esta dinámica que te brinda la posibilidad de llevarte a casa una de sus obras, cargadas de belleza y significado.
        <p class="lg:text-2xl m-2">Diego Villegas es un destacado maestro en artes plásticas y un artista contemporáneo reconocido a nivel global. Su expresión artística se centra en la abstracción de figuras de aves, como el colibrí, para transmitir un mensaje profundo y conmovedor. No dejes pasar esta oportunidad única de poseer una Obra del talento y la visión de Diego Villegas.</p>
        <p class="lg:text-2xl m-2">Además, tu participación apoyará a <a href="https://tajara.netlify.app/" target="_blank" class="underline" >Tajara</a> arte y naturaleza, en la protección y restauración del medio ambiente.</p>
        <a href="https://galeriadvillegas.vercel.app/" target="_blank" class="text-white lg:text-2xl opacity-90 m-2 hover:underline">Visita la galería</a>
    </div>
    <div>
        <img src="./DV.jpeg" alt="Diego Villegas" class="m-2 rounded-lg lg:w-[450px] w-90">
    </div>
</div>