---
import lista from '../lista.json'
---
<div class="lg:h-full sm:h-[700px] flex  flex-col items-center text-white">
    <h1 class="text-6xl m-6 font-semibold">Sorteo mayo 2024 - MHAART</h1>

<table class="w-[600px] m-5">
    <tr class="bg-black bg-opacity-50">
        <th class=" border border-black px-4 py-2 text-white">Número</th>
        <th class="border border-black px-4 py-2 text-white ">Nombre</th>
    </tr>
{ lista.map(list=>{
    return   <tr class="bg-black bg-opacity-40">
          <td class="border border-black px-4 py-2 ">{list.número}</td>
          <td class="border border-black px-4 py-2">{list.nombre}</td>
        </tr>
})}
      
  </table>
</div>
