<div class="w-full p-5 flex flex-col lg:flex-row items-center justify-center bg-black bg-opacity-10">
  <img src="./firmaDVillegas.png" alt="logo" class="w-40 lg:w-80 lg:order-first lg:mr-20 mb-5  ">
  <div class="text-3xl text-white flex flex-row lg:items-center lg:gap-5">
      <a href="#sorteo" class="m-5 text-xl lg:text-3xl">Sorteo</a>
      <a href="#pasos" class="m-5 text-xl lg:text-3xl">Pasos</a>
      <a href="#lista" class="m-5 text-xl lg:text-3xl">Boletas</a>
      <a href="#sorteosPrevios" class="m-5  text-xl lg:text-3xl">Sorteos previos</a>
  </div>
</div>


<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
          behavior: 'smooth'
        });
      });
    });
  </script>