<div class="lg:h-screen flex flex-col justify-center lg:ml-52 lg:mr-52 text-white text-center lg:text-left">   
           <h1 class="lg:text-6xl text-4xl m-2 font-semibold">Instrucciones para Participar</h1>
          <div class="flex flex-col m-2">
              <h3 class="lg:text-5xl text-2xl m-2">Información:</h3>    
              <ul class="flex flex-col lg:text-2xl text-xl">
                <il>• El sorteo se llevará a cabo el día ___ a las ___.</il>
                <il>• El precio de cada boleta es de $20.000 pesos.</il>
                <il>• El envío de la obra es gratuito en Bogotá.</il>
                <il>• Se entregará un certificado de autenticidad junto con la obra.</il>
              </ul>
          </div>
          <div class="flex flex-col m-2">
            <h3 class="lg:text-5xl text-2xl m-2">Pasos:</h3>    
            <ol class="flex flex-col lg:text-2xl text-xl">
              <il>1. Consigna $20.000 pesos a través de Nequi o Daviplata al número 3165509957 con el motivo "Sorteo Obra".</il>
              <il>2. Envía el comprobante al número de WhatsApp 3165509957.</il>
              <il>3. Espera la confirmación de recibimiento.</il>
              <il>4. Escoge el número con el que deseas participar.</il>
            </ol>
        </div>

</div>  