  <div class="lg:h-screen flex flex-row relative sm:h-[700px] items-center justify-center">
    <div class="flex flex-col w-[500px] text-white">
       <div>
           <h1 class="text-6xl m-2 font-semibold">Sorteo</h1>
          <h2 class="text-5xl m-2">Mayo 2024</h2>    
       </div>
        <p class="text-2xl m-2"><strong>Título:</strong> MHAART</p>
        <p class="text-2xl m-2"><strong>Medidas:</strong></p>
        <p class="text-2xl m-2"><strong>Técnica:</strong></p>
        <p class="text-2xl m-2"><strong>Fecha:</strong></p>
        <p class="text-2xl m-2"><strong>Valor inicial:</strong></p>
    </div>
    <div>
        <img src="./MHAART.webp" alt="Diego Villegas" class="m-2 rounded-lg w-[500px]">
    </div>
</div>  

