<div class="lg:h-screen flex flex-col lg:flex-row items-center justify-center">
    <div class="flex flex-col lg:w-[500px] text-white text-center lg:text-left">
        <div>
            <h1 class="lg:text-6xl text-4xl m-2 font-light">Sorteo</h1>
            <h2 class="lg:text-5xl text-3xl m-2">Mayo 2024</h2>
        </div>
        <div class="lg:hidden">
            <img src="./MHAART.webp" alt="Diego Villegas" class="m-2 rounded-lg w-80">
        </div>
        <p class="lg:text-2xl m-2"><strong>Título:</strong> MHAART</p>
        <p class="lg:text-2xl m-2"><strong>Medidas:</strong></p>
        <p class="lg:text-2xl m-2"><strong>Técnica:</strong></p>
        <p class="lg:text-2xl m-2"><strong>Fecha:</strong></p>
        <p class="lg:text-2xl m-2"><strong>Valor inicial:</strong></p>
    </div>
    <div class="hidden lg:block">
        <img src="./MHAART.webp" alt="Diego Villegas" class="m-2 rounded-lg w-[500px]">
    </div>
</div>
